.husky/**
.vscode/**
.vscode-test/**
src/**
/test/**
out/test/**
.gitignore
prettier.config.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# we want to exclude the my-plugin source while keeping it as a dependency
my-plugin/**
node_modules
!node_modules/my-plugin